# This is a basic workflow to help you get started with Actions

name: CI-Linux

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
#    runs-on: ubuntu-latest
    runs-on: ubuntu-20.04
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v4
    # set up conda
    - name: Setup conda
      uses: s-weigand/setup-conda@v1.0.5
      with:
#        miniconda-version: 'latest'
        python-version: '3.10'

    - name: Install dependencies
    # install dependencies
      run: |
        conda env create -f OrthoIndex.yaml

#    - name: Activate
#      run: |
#        conda init bash
#        conda init
#        source /home/runner/.bashrc
#        cat  ~/.bashrc
#        conda env list
#        conda --version
#        source /usr/share//miniconda/etc/profile.d/conda.sh
#        ls -al /usr/share/miniconda/envs/OrthoIndex/bin
#        which python   
#    - run: conda activate OrthoIndex
#    - run: which python
      
    - name: Install SOI
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      run: |
        export PATH=/usr/share/miniconda/envs/OrthoIndex/bin:$PATH && python setup.py install
#      run: python setup.py install
    
    - name: Test SOI
      run: |
        ls -al
        pwd
        cd example_data && export PATH=/usr/share/miniconda/envs/OrthoIndex/bin:$PATH && bash example.sh
#    - run: cd example_data && bash example.sh
      
